.diversity-pie-chart
{
    padding: 1rem;
    width: 20rem;
    background: radial-gradient(#e9f1f7, #c2c3d3, #9a9aa8);

    border: .15em solid grey;
    margin-top: 0.3rem;
    margin-left: 3em;
    margin-right: 3em;

    border-radius: 1rem;
}